@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html,
:host {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

[data-sonner-toast][data-swiped="true"],
[data-sonner-toast][data-swiped=true] {
  -webkit-user-select: none;
  user-select: none;
}


